@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Imperial+Script&family=Lavishly+Yours&family=Mrs+Saint+Delafield&family=Nerko+One&display=swap');
@import "tailwindcss";
@theme{
    --font-saint: "Mrs Saint Delafield", cursive;
    --font-imperial: "Imperial Script", cursive;
    --color-redwood: #B0413E;
}

::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #FFFFC7;
}
.darkmode{
    background-color: #290f0e;
    color: #e9f5db;
}
.lightmode{
    background-color: #FFFFC7;
    color: #B0413E;
}